
# Criado por https://www.gitignore.io/api/venv,flask,python
# Edite em https://www.gitignore.io/?templates=venv,flask,python

### Frasco ###
instância/*
! instance / .gitignore
.webassets-cache

### Flask.Python Stack ###
# Arquivos compilados em bytes / otimizados / DLL
__pycache __ /
* .py [cod]
* $ py.class

Extensões # C
*.tão

# Distribuição / embalagem
.Pitão
Construir/
desenvolver ovos /
dist /
Transferências/
ovos/
.ovos/
lib /
lib64 /
peças /
sdist /
var /
rodas /
metadados pip-wheel /
compartilhar / rodas-python /
* .egg-info /
.installed.cfg
*.ovo
MANIFESTO

# PyInstaller
# Geralmente, esses arquivos são gravados por um script python a partir de um modelo
# antes do PyInstaller criar o exe, para injetar data / outras informações nele.
*.manifesto
* .spec

# Logs do instalador
pip-log.txt
pip-delete-this-directory.txt

# Relatórios de teste / cobertura unitária
htmlcov /
.tox /
.nox /
.cobertura
.cobertura.*
.cache
nosetests.xml
cobertura.xml
*.releitura musical
.hipótese/
.pytest_cache /

# Traduções
* .mo
*.maconha

# Coisas arranhadas:
.scrapy

# Documentação da esfinge
docs / _build /

# PyBuilder
alvo/

# pyenv
.python-version

# pipenv
# De acordo com pypa / pipenv # 598, é recomendável incluir o Pipfile.lock no controle de versão.
# No entanto, no caso de colaboração, se houver dependências ou dependências específicas da plataforma
# sem suporte multiplataforma, o pipenv pode instalar dependências que não funcionam ou não
# instalar todas as dependências necessárias.
# Pipfile.lock

# arquivo de programação de batidas de aipo
aipo-agenda

# SageMath arquivos analisados
* .sage.py

# Configurações do projeto Spyder
.spyderproject
.spyproject

# Configurações do projeto de corda
.ropeproject

# Mr Developer
.mr.developer.cfg
.projeto
.pydevproject

documentação do # mkdocs
/local

# mypy
.mypy_cache /
.dmypy.json
dmypy.json

# Verificador de tipo pira
.pyre /

### Pitão ###
# Arquivos compilados em bytes / otimizados / DLL

Extensões # C

# Distribuição / embalagem

# PyInstaller
# Geralmente, esses arquivos são gravados por um script python a partir de um modelo
# antes do PyInstaller criar o exe, para injetar data / outras informações nele.

# Logs do instalador

# Relatórios de teste / cobertura unitária

# Traduções

# Coisas arranhadas:

# Documentação da esfinge

# PyBuilder

# pyenv

# pipenv
# De acordo com pypa / pipenv # 598, é recomendável incluir o Pipfile.lock no controle de versão.
# No entanto, no caso de colaboração, se houver dependências ou dependências específicas da plataforma
# sem suporte multiplataforma, o pipenv pode instalar dependências que não funcionam ou não
# instalar todas as dependências necessárias.

# arquivo de programação de batidas de aipo

# SageMath arquivos analisados

# Configurações do projeto Spyder

# Configurações do projeto de corda

# Mr Developer

documentação do # mkdocs

# mypy

# Verificador de tipo pira

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
[Bb] em
[Ii] nclude
[Ll] ib
Ib64
[Ll] ocal
[Ss] cripta
pyvenv.cfg
.env
.venv
env /
venv /
ENV /
env.bak /
venv.bak /
pip-selfcheck.json

# Fim de https://www.gitignore.io/api/venv,flask,python