html, body{
    /*background: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 300%;
    background-image: url("../bg-static.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size: 100%,100%;*/
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
body {
    overflow-x: hidden;

}
.corpo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
#campoPesquisa {
    border: 1px solid #ddd; /* Add a grey border */
}
br {
    display: block;
    margin: 10px 0;
    line-height:20%;
    content: " ";
 }
.containers{
    background-color: #f8f9fac8;
    display: table;
    grid-column: span;
    width: 85%;
    height: 100%;
    text-align: center;    
}
.containersG{
    background-color: #f8f9fa;
    display: table;
    width: 100%;
    height: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
th {
    text-align: center;
}
table {
    border-spacing: 5px;
}
.scrollup{
    font-size: 20px;color: black; background-color: #f8f9fac8;
    border: 1px solid #A2A2A2;
    text-align: center;
    padding: 6px;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right:30px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
}
.scrollup:hover {
    background-color: #343a4064;
    color: white;
}
.scrolldown{
    font-size: 20px;color: black; background-color: #f8f9fac8;
    border: 1px solid #A2A2A2;
    text-align: center;
    padding: 6px;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right:80px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
}
.scrolldown:hover {
    background-color: #343a4064;
    color: white;
}
.containerLateral{
    background-color: #343a40;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 0;
    position: fixed
}
.containerL{
    background-color: #343a40;
    width: 100%;
    height: 100%;
    top: 16%;
    z-index: 1;
}
.lateralLink{
    color: #f8f9fa;
    text-decoration: none;
    cursor: pointer;
}
.userLink{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

a:link:hover, a:visited:hover {
    color: #cacbcc;
    text-decoration: underline;
}
a:link:active, a:visited:active {
    color: #f8f9fa;
}
.userLink:link:active, .userLink:visited:active {
    color: #f8f9fa;
}
.right {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}
.inactiveLink {
    pointer-events: none;
    cursor: default;
 }
/* Mobile */
@media screen and (min-width:320px) { 

    .tester {
        width:100%;
        height:auto;
        background-image: url("../bg-static.png");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment:fixed;
        font-size: 30px;
    }
    html {
        position: relative;
        max-height: 100%;
        min-width: 100%;
    }
    .containerLateral{
        background-color: #343a40;
        width: 15%;
    }
}

/* Tablet */
@media screen and (min-width:640px) {

    .tester {
        width:100%;
        height:auto;
        background-image: url("../bg-static.png");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment:fixed;
        font-size: 80px;
    }
    html {
        position: relative;
        max-height: 100%;
        min-width: 100%;
    }
    .containerLateral{
        background-color: #343a40;
        width: 15%;
    }   

}


/* Desktop */
@media screen and (min-width:1366px) {

    .tester {
        width:100%;
        height:auto;
        background-image: url("../bg-static.png");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment:fixed;
    }
    html {
        position: relative;
        max-height: 100%;
        min-width: 100%;
    }
    .containerLateral{
        background-color: #343a40;
        width: 15%;
    }   

}
@media print {
    pre, blockquote {page-break-inside: avoid;}
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: opacity 2s;
        -moz-transition: opacity 2s;
        -ms-transition: opacity 2s;
        -o-transition: opacity 2s;
        transition: opacity 2s;
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: opacity 2s;
        -moz-transition: opacity 2s;
        -ms-transition: opacity 2s;
        -o-transition: opacity 2s;
        transition: opacity 2s;
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: opacity 2s;
        -moz-transition: opacity 2s;
        -ms-transition: opacity 2s;
        -o-transition: opacity 2s;
        transition: opacity 2s;
    }
}
.item:nth-child(1) {
    background: url(../bg-static.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url(../bg-static-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url(../bg-static-2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(4) {
    background: url(../bg-static-3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}