<html>
    <head>
        <title>Traker Core</title>
        <link rel="icon" type="image/png" href="../static/images/Traker core logo.png"/>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../static/js/loader.js"></script>
        <script type="text/javascript">
            // Load google charts
            google.charts.load('current', {'packages':['line']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Acessos por dia');
                data.addColumn('number', 'LAB 1');
                data.addColumn('number', 'LAB 2');
                data.addColumn('number', 'LAB 3');
                data.addColumn('number', 'LAB 4');
                data.addColumn('number', 'LAB 5');
                data.addColumn('number', 'LAB 6');
                data.addColumn('number', 'Projetos');
                {% for i in datas.keys() %}
                    var data_fmt = '{{i}}'
                    data.addRow([data_fmt, {{datas[i][0]}}, {{datas[i][1]}}, {{datas[i][2]}}, {{datas[i][3]}}, {{datas[i][4]}}, {{datas[i][5]}}, {{datas[i][6]}}])
                {% endfor %}
                
                // data.addRows([
                //     ['30 dias atrás', 10, 4, 4, 5, 4, 20, 1],
                //     ['29 dias atrás', 12, 5, 8, 3, 4, 9, 0],
                //     ['28 dias atrás', 6, 11, 9, 7, 2, 17, 2],
                //     ['27 dias atrás', 10, 4, 4, 5, 4, 12, 1],
                //     ['26 dias atrás', 12, 5, 8, 3, 4, 22, 0],
                //     ['25 dias atrás', 6, 11, 9, 7, 2, 14, 2],
                //     ['24 dias atrás', 10, 4, 4, 5, 4, 30, 1],
                //     ['23 dias atrás', 12, 5, 8, 3, 4, 7, 0],
                //     ['21 dias atrás', 6, 11, 9, 7, 2, 6, 2],
                //     ['20 dias atrás', 10, 4, 4, 5, 4, 8, 1],
                //     ['19 dias atrás', 12, 5, 8, 3, 4, 5, 0],
                //     ['18 dias atrás', 6, 11, 9, 7, 2, 9, 2],
                //     ['17 dias atrás', 10, 4, 4, 5, 4, 7, 1],
                //     ['16 dias atrás', 12, 5, 8, 3, 4, 20, 0],
                //     ['15 dias atrás', 6, 11, 9, 7, 2, 50, 2],
                //     ['14 dias atrás', 10, 4, 4, 5, 4, 35, 1],
                //     ['13 dias atrás', 12, 5, 8, 3, 4, 41, 0],
                //     ['12 dias atrás', 6, 11, 9, 7, 2, 20, 2],
                //     ['11 dias atrás', 10, 4, 4, 5, 4, 5, 1],
                //     ['10 dias atrás', 12, 5, 8, 3, 4, 9, 0],
                //     ['09 dias atrás', 6, 11, 9, 7, 2, 5, 2],
                //     ['08 dias atrás', 10, 4, 4, 5, 4, 5, 1],
                //     ['07 dias atrás', 12, 5, 8, 3, 4, 9, 0],
                //     ['06 dias atrás', 6, 11, 9, 7, 2, 5, 2],
                //     ['05 dias atrás', 10, 4, 4, 5, 4, 5, 1],
                //     ['04 dias atrás', 12, 5, 8, 3, 4, 9, 0],
                //     ['03 dias atrás', 6, 11, 9, 7, 2, 5, 2],
                //     ['02 dias atrás', 10, 4, 4, 5, 4, 5, 1],
                //     ['Ontem', 12, 5, 8, 3, 4, 9, 0],
                //     ['Hoje', 1, 5, 5, 9, 5, 5, 1]
                // ]);
                var options = {
                    chart:{
                        title:'Uso dos Laboratórios',
                        subtitle: 'Últimos 30 dias',
                    },                       
                    backgroundColor: { fill:'transparent' },
                    };  
                var div = document.getElementById('graficoLabs');
                var chart = new google.charts.Line(div);

                chart.draw(data, google.charts.Line.convertOptions(options));

                google.visualization.events.addListener(table, 'select', selectHandler);

                // The selection handler.
                // Loop through all items in the selection and concatenate
                // a single message from all of them.
                
                }            
        </script>
    </head>
    <body>


        <div class="carousel slide carousel-fade" data-ride="carousel" data-interval="30000">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 10">
                <img src="../static/images/Traker core logo bar.svg" alt="" width="100px" height="auto">
                <a class="navbar-brand inactiveLink" href=""><h1>Tracker Core</h1></a>
                <div class="nav navbar-right">
                    <button class="btn btn-prymary collapsed navbar-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active ">
                            <a class="nav-link" href="{{url_for('main.index')}}"><h4>Histórico</h4></a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link inactiveLink" href=""><h4>Gráfico</h4></a>
                        </li>

                    </ul>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 10">
                    <div class="container-fluid ">
                  
                      <div class="navbar-header">
                        <a class="navbar-brand inactiveLink" href="#">Dados Arquivados</a>
                      </div>
                  
                      <div class="nav navbar">
                        <li class="nav-item dropdown">
                          <div class="dropdown-content">
                            <!--<li class="nav-item dropdown">
                                    <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Gerenciar
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="#">Ação</a>
                                      <a class="dropdown-item" href="#">Outra ação</a>
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item" href="#">Algo mais aqui</a>
                                    </div>
                                </li>-->
                            <li><a class="btn btn-prymary btn-sm" href="">Atualizar</a></li>
                            <li><div class="dropdown-divider"></div></li>
                        </div>
                        </li>
                      </div>
                    </div>
                  </nav>
        <div class="corpo">
            <div id="line_top_x"></div>
            <div class="containersG">
                <div style="position: fixed; top: 17%; left: 1%; width:98%; height: 82%" id="graficoLabs"></div>
            </div>            
        </div>
        
    </body>
</html>